    $icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
    // bower:scss
    @import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
    // endbower
    @font-face {
        font-family: Brushtip;
        src: url(../fonts/BTTTRIAL.otf);
    }
    
    body {
        margin: 0;
    }
    
    .topContent, .footerDiv {
        width: 980px;
        margin: 0 auto;
        margin-bottom: 100px;
    }
    
    .mainHeader {
        background-color: #9F0A23;
        height: 300px;
        text-align: center;
        margin-bottom: -36px;
    }
    
    .logo {
        margin: 0 auto;
        padding-top: 20px;
    }
    
    .usui h3 {
        color: #000000;
        margin-top: 0;
        font-family: Brushtip;
        color: #F5D56B;
        text-shadow: 3px 3px 3px #000;
        font-size: 28px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    h5 {
        font-family: Noticia Text;
        color: black;
        margin-top: 0;
    }
    
    .navLinks {
        width: 950px;
        border-top: 1px dotted black;
        border-bottom: 1px dotted black;
        margin: 0 auto;
    }
    
    .navLinks ul {
        margin-bottom: 0;
    }
    
    .navLinks ul li {
        display: inline-block;
        padding: 8px;
        border-right: 1px solid #000000;
        line-height: 10px;
    }
    
    .navLinks ul .contact {
        line-height: 20px;
        border-right: 0px;
    }
    
    .navLinks ul li a {
        color: #000000;
        text-decoration: none;
    }
    
    .navLinks ul li a:hover {
        color: #BFB4BB;
        transition: .5s;
    }
    
    .main-row {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .bottomContent{
        min-height: 250px;
    }
    
    .col-md-9 {
        width: 80%;
        margin-right: -7px;
    }
    
    .col-md-3.slash,
    .col-md-9.numberDate {
        min-height: 0;
        border: none;
        padding: 0;
        font: normal normal normal 21px/1.4em 'Times New Roman', times, serif;
    }
    
    .col-md-3.slash {
        padding-top: 10px;
        padding-left: 8px;
    }
    
    .col-md-9.numberDate {
        font-size: 40px;
        font-family: tahoma;
        margin-top: -12px;
    }
    
    .news {
        min-height: 800px;
        margin-top: 15px;
        border: 1px dotted black;
        border-top: none;
        border-bottom: none;
    }
    
    .newsColumn {
        width: 192px;
        border-top: none;
        padding: 0;
        word-wrap: break-word;
        margin-top:1px;
        line-height: normal;
        line-spacing: normal;
    }
    
    #news-entry {
        padding:0px 15px 0px 15px;
        position:relative;
        .moreNews {
          position:absolute;
          height:25px;
          width:18px;
          background-color:#443633;
          right:0;
          top:-20px;
          text-align:center;
          padding-top:3px;
          .plus {
            color:white;

          }
        }
    }
    
    #news-entry .newsTitle {
        color: #A41730;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        word-wrap: break-word;
        line-height: normal;
        line-spacing: normal;
        margin-bottom: 0;
    }
    
    #news-entry .newsBody {
        color: #6C6160;
        vertical-align: baseline;
        line-height: 1.4em;
        letter-spacing: normal;
        font: normal normal 'Noticia Text', serif;
        margin-bottom: 0;
    }
    
    #news-entry .newsFooter {
        color: #221F1E;
        font: normal normal normal 12px/1.4em Basic, sans-serif;
        // font-size:10px;
    }
    .dotDivider {
      width:180px;
      border-bottom:1px dotted black;
      border-top:none;
      margin-left:-5px;
    }
    .col-md-4,
    .col-md-6 {
        padding: 0;
    }
    
    .col-md-4.video-box {
        min-height: 200px;
    }
    
    .col-md-8.links {
        min-height: 130px;
        padding-left: 0;
        padding-right: 0;
        padding-top: 30px;
        border-top: 1px dotted black;
        border-bottom: 1px dotted black;
        position: absolute;
        left: 275px;
        width: 490px;
        margin-top: -75px;
    }
    
    .iconBox {
        position: relative;
    }
    
    .divider {
        border-left: 1px dotted #38546d;
        height: 100px;
        position: absolute;
        right: 15px;
        bottom: -15px;
    }
    
    .iconText {
        margin-top: 10px;
        color: #553533;
        width: 60px;
    }
    
    .container {
        background-color: black;
        padding-left: 0;
        padding-right: 0;
        width: 488px;
        height: 355px;
        overflow: hidden;
        box-shadow: 2px 2px 2px gray;
        position: relative;
    }
    
    .container img {
        width: 100%;
        height: 100%;
    }
    
    .container img:nth-child(1) {
        height: 365px;
        width: 620px;
        margin-left: -60px;
    }
    
    .container img:nth-child(3) {
        height: 370px;
        width: 515px;
        margin-left: -10px;
        margin-top: -5px;
    }
    
    .photo {
        position: absolute;
        animation: round 20s infinite;
        opacity: 0;
    }
    
    @keyframes round {
        25% {
            opacity: 1;
        }
        40% {
            opacity: 0;
        }
    }
    
    .container img:nth-child(4) {
        animation-delay: 0s;
    }
    
    .container img:nth-child(3) {
        animation-delay: 5s;
    }
    
    .container img:nth-child(2) {
        animation-delay: 10s;
    }
    
    .container img:nth-child(1) {
        animation-delay: 15s;
    }
    
    .nav {
        display: block;
        text-indent: -10000px;
        position: absolute;
        cursor: pointer;
    }
    
    #leftNav {
        top: 150px;
        left: 33%;
        width: 70px;
        height: 60px;
        background-image: url("../images/left.png");
        background-size: 100px 80px;
        opacity: .5;
        background-repeat: no-repeat;
        z-index: 999;
        display: none;
    }
    
    #leftNav:hover {
        opacity: 1;
        color: white;
        transition: .5s;
    }
    
    #rightNav {
        top: 150px;
        left: 93%;
        width: 70px;
        height: 60px;
        background-image: url("../images/right.png");
        background-size: 100px 80px;
        opacity: .5;
        background-repeat: no-repeat;
        z-index: 999;
        display: none;
    }
    
    #rightNav:hover {
        opacity: 1;
        transition: .5s;
    }
    
    .textDateContainer {
        margin: 10px;
    }
    
    .announcements {
        padding-left: 0;
        margin-right: 15px;
        margin-top:1px;
    }
    
    .announcementOne a {
        text-decoration: none;
        font: normal normal normal 13px/1.4em 'Noticia Text', serif;
        transition: color 0.4s ease 0s;
        color: #000000;
        white-space: nowrap;
    }
    
    .announcementContainer {
        margin: 10px;
        width: 250px;
    }
    
    .announcementContainer p {
        color: #6C616F;
    }
    
    .dateBox {
        padding: 20px;
        border: 1px solid black;
        height: 72px;
    }
    
    .dateText {
        border: 1px solid black;
        height: 72px;
        border-left: 0;
        padding-top: 5px;
        padding-right: 0;
        padding-left: 5px;
        margin-bottom: 10px;
    }
    
    .announcementOne {
        margin-bottom: 0;
        font-size: 14px;
        margin-top: 0px;
    }
    
    #miniHeader,
    #schoolHeader,
    #ihrHeader {
        background-color: #443633;
        height: 35px;
        width: 75%;
        padding: 8px;
        padding-left: 10px;
        margin-left: 5%;
        color: #ffffff;
    }
    
    #miniHeader {
        margin-bottom: 19px;
    }
    
    #newsHeader {
        background-color: #443633;
        height: 35px;
        width: 75%;
        padding: 8px;
        padding-left: 10px;
        color: #ffffff;
    }
    
    .noPadding {
        padding: 0;
    }
    
    .imgBelow {
        min-height: 165px;
        position: absolute;
        left: 265px;
    }
    
    .col-md-7.smallImg {
        width: 265px;
        margin-left: 10px;
        padding-left: 0;
    }
    
    .col-md-5.smallImg {
        width: 225px;
        padding-right: 0;
    }
    
    .smallImg {
        padding: 10px;
        overflow: hidden;
        max-height: 165px;
    }
    
    .smallImg .secondImg {
        width: 100%;
    }
    
    .smallImg img {
        box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
        min-height: 190px;
    }
    
    #newsHeader {
        width: 50%;
    }
    
    .row .ourSchool {
        min-height: 200px;
        width: 29%;
        margin-left: 10px;
        margin-top: -30px;
    }
    
    #schoolHeader {
        width: 80%;
        margin-left: 0;
    }
    
    .grayBar {
        background-color: #B0A9A9;
        height: 35px;
        width: 250px;
        margin: 7px;
        margin-left: 0;
        margin-top: 0;
        padding: 7px;
        padding-left: 15px;
    }
    
    .grayBar:hover {
        background-color: #9F0A23;
        transition: .5s;
    }
    
    a.sideLinks {
        text-decoration: none;
        color: #443533;
    }
    
    a.sideLinks:hover {
        color: white;
    }
    
    .video-box {
        margin-left: 10px;
        margin-top: 10px;
    }
    
    #ihrHeader {
        width: 90%;
        margin-left: 0;
    }
    
    .bottomContent {
        background-color: #443633;
        // text-align:center;
        .logoAddress {
          margin-left:25px;
          margin-top:70px;
        }
        .footerlogo {
          
          margin-right:-20px;
          img {
            height:92px;
            margin-right:-10px

          }
        }
        .address {

        }
        ul {
            list-style:none;
            padding:15px 15px 15px 0px;

            li {
              color:black;
            }
          }


    }